/* body */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/*改行*/
.pc-br{display:block;}
.sp-br{display:none;}

body{
    /* カーソル*/
    cursor: url(../img/ufo.png), auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
   /*フォント*/
   font-family: 'DotGothic16', sans-serif;
   letter-spacing: 0.2em;
   font-weight: 900;

   /* 背景初期値    */
   background-color: #fff;
}  

*{
    margin: 0px;
   padding: 0px;
}

h1{
    font-size:40px;
    font-weight: 900;
	text-align:center;
	line-height:0.95em;
	text-shadow: 0 0 0.2em #fff;
}
h3{
    color: #fff;
    font-weight: 900;
}
a{
    color: #183c7f;
    font-weight: 900;
    text-shadow: 0 0 0 #000;
}
/* フォント白 */
.wfont{
    color:#cd69ff;
    text-shadow: 0 0 0 #000;
}

/* ヘッダーデザイン */
header{
    background-color: #000;
}

a{
    display: contents;
}

 /*レスポンシブ対応用背景*/
 .helper_cat{
    display:none;/*非表示*/
}

/* タイトル部スタイル   */
.cTitle{
    position: absolute;
}
/*タイトル背景*/
.video_title{
    width: 100vw;
    height: 620px;
    position: relative;
    object-fit: cover;
}
 /*タイトル波*/
 .nami{
    width: 100%;
    position: absolute;
    bottom: -50px;
    z-index: 500;
 }
/*タイトルロゴ*/
.img_title{
    position: absolute;
    left: 45%;
    bottom: 330px;
    animation: img_title 5s ease 1s normal backwards;
}
/*タイトルネコ*/
.img_cat{
    position: absolute;
    float: left;
    width: 500px;
    height: 540px;
    background-image: url(../img/cat2.PNG);
    animation: img_cat 10s ease 1s normal backwards;
    z-index: 500;
    bottom: -9px;
}

@keyframes img_cat{
    0% {
      animation-delay: .3s; 
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
@keyframes img_title{
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  li {
    list-style: none;
  }
  /*タイトルリンク*/
.item_links{
    width: 100%;
}
.item_link {
    top: 0;
    width: 100%;
    height: 25px;
    padding-top: 25px;
    display: flex;
    z-index: 10000;
    position: fixed;
    background-color: #000;   
  }

.li_link{
    margin-top: -20px;
    margin-right: 50px;
    padding-left: 15px;
    display: inline-block;
    font-weight:bold;
    transition:.5s;
    }

    .li_link:hover{
    transition:.5s;
    transform: rotateX(360deg);
    }

.top_link{
    margin: -20px 0 0 auto;
    padding-right: 15px;
}

/*プロフィール*/
.prof_img{
    height: 250px;
    width: 250px;
    margin: 40px 0 10px 0;
}

.profCat h3{
    margin: 10px 0 10px 0;
}
/*1⃣趣味スタイル  */
.cHoby{
    position: absolute;
   /* background-color: red;*/
    top: 770px;
    height: 600px;
    width: 100%
    /*width: 110%;*/
    /*left: -10px;*/
}
.nHoby{
    text-align: center;
}

.cHobyBox{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*div中央揃え*/
.cHobyCat{
    margin: 0 50px 0 50px;
    display: block;
    width: 100%;
}

/*趣味の画像*/
.cHoby_img{
    width: 200px;
    height: 200px;
    margin: 0 50px 0 50px;
}
.aHoby_img{
    width: 200px;
    height: 200px;
    margin: 0 50px 0 50px;
    animation: aHoby_img 0.5s ease 1s normal backwards;
}
@keyframes aHoby_img{
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.cHoby1{
    background-color:  #fff;
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 35px;
    
}
.marginset{
    margin-top: 100px;
}

.big_cat{
    width: 250px;
    height: 250px;
}

/*スキル１スタイル*/
.sSkil0{
    top: 1900px;
    position: absolute;
    height: 300px;
    width: 100%;
    left: -10px;
}
.sSkil0Box{
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 900;
}
.sSkil0CatB{
    /*background-color: #293d66;*/
    height: 250px;
    width: 250px;
    margin: 45px 25px 0 25px;
    text-align: center;
    border-radius: 50%;
}
.sSkil0CatB2{
    color: #e6e6e6;
    margin: 90px 10px 5px 10px;
}
.sSkil0CatB2 h3{
    margin-top: -175px;
}
.sSkil0Cir_img{
    margin-top: -90px;
    margin-left: -10px;
}
/*スキル２スタイル */
.sSkil{
    height: 600px;
    width: 100%;
    /*width: 110%;*/
    position: absolute;
    top: 2250px;
    z-index: 500;
}   
.sSkilInline{
    width: 85%;
    padding-left: 100px;
}
/*スキル画像  */
.sSkil_img{
    display: inline-flex;
    left: 370px;
    width: 200px;
    height: 200px;
}
/*スキル文字  */
.sSkil1{
    display:flex;
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 35px;
}
.item{
    color: #e6e6e6;
    margin: 0px 0 5px 0;
    border-bottom: 3px solid;
    padding-bottom: 7px;
    padding-top: 30px;
}
.SkilCat{
    display: inline-flex;
    width: 156px;
    margin-left: 50px;
}

.pSkilbox{
    display: inline-flex;
    width: 680px;
    height: auto;
    color: transparent;
    margin: 0 0 10px 0;
}
.aSkilbox{
    display: inline-flex;
    width: 680px;
    height: auto;
    color:#e6e6e6;
    margin: 0 0 10px 0;
    animation: aSkilbox 0.5s ease 1s normal backwards;

}
@keyframes aSkilbox{
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*リンク*/
.aSkilbox a{
    color: #9db322;
    border-bottom: 4px;
}

.pmaj{
    margin-top: 80px;
} 
.rowOne{
    display: block;
    height: 0px;
    margin-bottom: -10px;
}

/*実績スタイル  */
.sActual{
    height: 515px;
    width: 100%;
    /*width: 110%;*/
    position: absolute;
    top: 3300px;
    z-index: 500;
}   

/*実績画像  */
.sActual_img{
    max-width: 800px;
    min-width: 240px;
    width: 100%;
    height: auto;
    left: 370px;
}
.sActualLstep_img{
    position: relative;
    left: 246px;
    height: 100%;
}

/*実績文字  */
.sActual1{
    display:flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sActualCat{
    /*background-color: mediumvioletred;*/
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}
.sActualCat a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ActualMsgBox{
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
}
.ActualMsgBox p{
    margin-left: 60px;
    font-size: 17px;
    font-weight: 900;
    color: #fff;
}
/*最後にスタイル  */
.slast{
    height: 600px;
    width: 100%;
    /*width: 110%;*/
    position: absolute;
    top: 5000px;
    z-index: 500;
}   

/*最後に画像  */
.catmaru_img{
    position: relative;
    left: 800px;
    width: 300px;
    height: 300px;
    margin-top: -155px;
}

/*最後に文字  */
.slast1{
    background-color: transparent;
    height: 300px;
    width: 750px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 200px;
    line-height: 30px;
    font-weight: 900;
}
.slastCat{
    margin-top: 40px;
    float:left;
    width: 0;

}
.sp_link{display: none;}
.sActual_img_sp{display: none;}
.pSkilbox_sp{display: none;}

/* メディアごとのcss    -----------------------------------------------------------------*/
@media screen and (max-width:546px) {
 /*改行*/
    .pc-br{display: none;}
    .sp-br{display: block;}

    .sp_link{display: block;height: 60px;}

    .pSkilbox{display: none;}
    
    
 * {
        margin: 0;
        padding: 0;
}

    body{
        height: auto;
        width: 100%;
        line-height: 1.5;
        background-color: #000;
    }
    h1{
        font-size: 55px;
    }
    h3{
        font-size: 23px;
    }

    p{
        font-size: 20px;
    }

    /*レスポンシブ対応用背景*/
    .sphelper_cat{
        display: block;
        position: absolute;
        z-index: 500;
    }

    .helper_cat{
        display: block;
        width: 100vw;
        position: relative;
        object-fit: cover;
    }

    .cTitle{
        display:none;/*非表示*/
        position: absolute;
    }

    /*.video_title {
        width: 100vw;
        height: 620px;
        position: relative;
        object-fit: cover;
    }*/

   /* .img_title {
        position: absolute;
        left: -5%;
        bottom: 330px;
        animation: img_title 5s ease 1s normal backwards;
        transform: scale(0.7);
    }*/

    /*固定リンク*/
    .item_link {
        display:none;/*非表示*/
        z-index: 10000;
        position: fixed;
        height: 25px;
        top: 520px;
        padding-top: 30px;
        padding-left: 0px;
        background-color: #000;
    }
    .item_link h1 {
        font-size: 17px;
    }
    .li_link {
        margin-top: -7px;
        margin-left: 7px;
        margin-right: 35px;
    }
    .img_cat {
        position: absolute;
        float: left;
        left: -90px;
        width: 500px;
        height: 540px;
        background-image: url(../img/cat2.PNG);
        animation: img_cat 10s ease 1s normal backwards;
        z-index: 500;
        bottom: -9px;
        transform: scale(0.4);
    }

    .nami {
        width: 100%;
        position: absolute;
        bottom: -50px;
        z-index: 500;
        /* margin-right: 13px; */
        margin-left: -80px;
    }

    /*プロフィール*/
    .cHoby{
       /* display:none; */
        position: absolute;
        top: 800px;
        height: 1800px;
        width: 100%;
       /* padding-left: 53px;*/
    }
    .cHobyBox{
        display: block;
        height: 800px;
        width: 100%;
        justify-content: center;
    }

    .aHoby_img {
        width: 200px;
        height: 200px;
        margin: 55px 50px 0 50px;
        animation: aHoby_img 0.5s ease 1s normal backwards;
    }

    .big_cat{
      width: 250px;
      height: 250px;
      margin-top: 70px;
    }

   .cHobyCat {
      margin: 0 16px 0 auto;
      display: block;
      width: 100%;
    }

    /*スキル丸*/
    .sSkil0{
       /* display:none;*/
       top: 2446px;
       height: 500px;
    }
    
    /*スキル*/
    .sSkil{
    /* display:none; */
    height: auto;
    width: 100%;
    position: absolute;
    top: 2515px;
    z-index: 500;
    margin-left: -28px;
    }

  /*スキル丸非表示*/
    .sSkil0Box{
    display:none;
    }

    .sSkilInline {
        width: 90%;
        padding-left: 10%;
    }
    
    .sSkil1 {
        display: block;
        height: auto;
        width: 100%;
       /* margin-bottom: -90px; */
        margin-bottom: 10px;
        margin-left: 0px;
    }
    

    .sp_bottm{
        margin-bottom: 10px;}

    /*.sp_left{
        margin-left: -5px;
        width: 100%;
    }*/

    /*.rowOne{
        display: block;
        height: 0px;
        margin-bottom: 40px;
        font-size: 15px;
    }*/
 
   /*.pmaj{
        margin-top: 90px;
    }*/
   /* .aSkilbox{
        font-size: 15px;
        width: 100%;
    } */
    .pSkilbox_sp{
        /*margin-top: -75px;*/
    }
    
    .item {
        color: #fff;
        margin: 0px 0 5px 0;
        border-bottom: 3px solid;
        padding-bottom: 7px;
        padding-top: 25px;
        font-size: 20px;
    }

    .sSkil_img {
        position: absolute;
        display: inline-flex;
        left: 25%;
        width: 220px;
        height: 220px;
      /*  margin: 10px auto 0 -385px; */
        opacity: 0.1;
    }
    
    .catsc{
        bottom: 600px;
    }
    .catds{
        bottom: 240px;
    }
    .catl{
        bottom: -30px;
    }

    .pSkilbox_sp{
        display: block;
        font-size: 15px;
        color: #fff;
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
    }

    /*実績*/
    .sActual{
       /* display:none; */
        top: 3486px;
    }
    .sActual_img {
        display: none;
    }

    .sActual_img_sp{
        display: block;
        object-fit: cover;
        box-sizing:border-box;
        width: 100%;
      /*  margin: 0 -37px 0 auto; */
    }

    .sActual1{
       display: block;
       margin-bottom: 60px;
    }

    .ActualMsgBox p{
        margin-left: 0px;
        width: 100%;
        font-size: 15px;
    }
    .sActual h3{
        font-size: 23px;
    }
    .sActualCat{
        height: auto;
        width: 100%;
    }

    .ActualMsgBox{
        margin-top: 5px;
    }

    /*最後に*/
    .slast{
       /* display:none; */
       top: 5362px;
       height: auto;
    }

    .slast1{
        font-size: 20px;
        width: 100%;
        height: auto;
        font-size: 15px;
        margin: 10% 0 0 0;
    }

    .slast nav{
        margin-left: 0px;
    }
    .catmaru_img{
        position: absolute;
        left: 0%;
        opacity: 0.1;
        width: 100%;
        height: 400px;
        margin-top: -90px;
    }


/* ハンバーガーメニュー */

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    /*
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative; */
    /*z-index: 100000;*//* 重なり順を一番上にする */
    /*cursor: pointer;
    left: 80%;*/
    display: inline-block;
    top: 25px;
    height: 60px;
    left:90%;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 100000;
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
    
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: transparent;
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 10px;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: -10px;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 1000;
    background: #293752;
    transition: .5s;
  }

  .nav_item1:active{
    background: #121824;
  }
  .nav_item2:active{
    background: #121824;
  }
  .nav_item3:active{
    background: #121824;
  }
  .nav_item4:active{
    background: #121824;
  }
  .nav_item5:active{
    background: #121824;
  }

  .nav_list li{
     border-bottom: 3px solid #fff;
  }
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
    font-size: 25px;
  }
  .nav_list a{
    color: #9db322;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }
    }



