/* body */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Zen+Kaku+Gothic+New:wght@500;900&display=swap');.sp-br{display:none;}
.sp_link{display: none;}
.sActual_img_sp{display: none;}
.pSkilbox_sp{display: none;}

/*背景星*/
.hosi0{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/hosi0.PNG);
    opacity: 0.6;
    animation: hosi0 10000s infinite linear;
    animation-iteration-count: infinite;
  }

  .hosi1{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/hosi1.PNG);
    opacity: 0.6;
    animation: hosi1 5000s infinite linear;
    animation-iteration-count: infinite;
  }

@keyframes hosi0 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100000px -100000px;
    }
}
@keyframes hosi1 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100000px -100000px;
    }
}

/*背景星縦スクロール*/
.hosi0a{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/hosi0.PNG);
    opacity: 0.4;
    animation: hosi0a 10000s infinite linear;
    animation-iteration-count: infinite;
  }

  .hosi1a{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/hosi1.PNG);
    opacity: 0.4;
    animation: hosi1a 5000s infinite linear;
    animation-iteration-count: infinite;
  }

@keyframes hosi0a {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -100000px;
    }
}
@keyframes hosi1a {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -100000px;
    }
}

body{
    /* カーソル*/
    cursor: url(../img/ufo.png), auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
    line-height: 2.1em;
    /*font-weight: 900;*/
   /* 背景色初期値*/
      background-color: #0d1117;
      font-family: 'Zen Kaku Gothic New', sans-serif;

  }

*{
    margin: 0px;
   padding: 0px;
}

.item_link,.item_linka,.nav_content,.cTitle,.cHoby,.sSkil,.sActual,.slast{
    width: 1920px;
    height: auto;
}

h1{
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    color: #151f33;
	text-align:center;
	line-height:0.95em;
	text-shadow: 0 0 0.2em #d2e8ff;
}

h3,p{
    font-size: 20px;
    color: #d2e8ff;
}

a{
    color: #183c7f;
    text-shadow: 0 0 0 #000;
}

/* フォント紫 */
.wfont{
    color:#cd69ff;
    text-shadow: 0 0 0 #000;
}

.portfolio_toge{
    width: 1920px;
    height: auto;
}


/* ヘッダーデザイン-------------------------*/
header{
    background-color: #000;
}

a{
    display: contents;
}

 /*背景：スマートフォン用*/
 .helper_cat{
    display:none;/*非表示*/
}

/* タイトル部スタイル-------------------------*/
.cTitle{
    position: absolute;
}

/*タイトル背景*/
.video_title{
    z-index: 500;
    width: 1920px;
    height: 1000px;
    position: relative;
    object-fit: cover;
}
 /*タイトル波*/
 .nami{
    position: absolute;
    z-index: 500;
    width: 100%;
    bottom: -30px;
 }

 .nami2{
    position: absolute;
    z-index: 500;
    width: 100%;
    bottom: -30px;
 }

/*タイトルロゴ*/
.img_title{
    z-index: 500;
    left: 38%;
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 330px;
    animation: img_title 5s ease 1s normal backwards;
}

/*タイトルネコ*/
.img_cat{
    position: absolute;
    float: left;
    width: 755px;
    height: 755px;
    background-image: url(../img/cat2.PNG);
    background-repeat: no-repeat;
    background-size: 725px;
    animation: img_cat 10s ease 1s normal backwards;
    z-index: 500;
    bottom: 100px;
}

@keyframes img_cat{
    0% {
      animation-delay: .3s; 
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
@keyframes img_title{
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  li {
    list-style: none;
  }

  /*タイトルリンク*/
.item_links{
    width: 100%;
}

.item_link {
    top: 0;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    z-index: 10000;
    position: fixed;
    background-color: #0d1117;   
  }
/*色変更*/
  .item_linka {
    top: 0;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    z-index: 10000;
    position: fixed;
    background-color: #b3cc27;
  }

  .item_linka a{
    color: #23A2B2;  
  }

.li_link{
    font-family: 'DotGothic16', sans-serif;
    margin-top: -20px;
    margin-right: 50px;
    padding-left: 15px;
    font-size: 50px;
    display: inline-block;
    font-weight:bold;
    transition:.5s;
    }

.li_linkPl{
    padding-left: 60px;
}

.li_link:hover{
    transition:.5s;
    transform: rotateX(360deg);
}

.top_link{
    margin: -20px 0 0 auto;
    padding-right: 60px;
}

/*プロフィールスタイル-------------------------*/
.cHoby{
    font-family: 'DotGothic16', sans-serif;
    z-index: 500;
}

.cHoby h1:before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    display: block;
    background: #d2e8ff;
    transform: rotate(45deg);
    z-index: -10;
    left: 0;
    right: 0;
    top: -3px;
    margin: auto;
    animation: rotate-anime 20s linear infinite;
}

.prof_img{
    height: 300px;
    width: 300px;
    margin: 100px 0 30px 0;
    animation: rotate-anime 20s linear infinite;
}

@keyframes rotate-anime {
    0%  {
        transform: rotate(0);
    }
    100%  {
        transform: rotate(-360deg);
    }
}

.profCat h3{
    margin: 40px 0 -230px 0;
}

/*趣味*/
.cHoby{
    position: absolute;
    top: 1240px;
    height: 600px;
    width: 100%
}

.nHoby{
    text-align: center;
}

.cHobyBox{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*div中央揃え*/
.cHobyCat{
    margin: 100px 15px 0 15px;
    display: block;
}

/*趣味の画像*/
.cHoby_img{
    width: 250px;
    height: 250px;
    margin: 0 50px 0 50px;
}

.aHoby_img{
    width: 250px;
    height: 250px;
    margin: 0 50px 0 50px;
    animation: aHoby_img 0.5s ease 1s normal backwards;
}
@keyframes aHoby_img{
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.cHoby1{
    background-color:  #d2e8ff;
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 35px;
    
}

.marginset{
    margin-top: 280px;
}

.big_cat{
    width: 250px;
    height: 250px;
}

/*スキルスタイル--------------------------*/
.sSkil{
    top: 2800px;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 500;
}

.sSkil h1:before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    display: block;
    background: #d2e8ff;
    transform: rotate(45deg);
    z-index: -10;
    left: 0;
    right: 0;
    top: -3px;
    margin: auto;
    animation: rotate-anime 20s linear infinite;
}

.sSkil p{
    color: #d2e8ff;
}

.sSkil0Box{
    display: flex;
    justify-content: center;
    height: 230px;
    width: 100%;
    margin-top: 70px;
}

.sSkil0CatB{
    text-align: center;
    height: 250px;
    width: 250px;
    margin: 45px 80px 0 80px;
    border-radius: 50%;
    color: #d2e8ff;
}

.sSkil0CatB h3{
    font-family: 'DotGothic16', sans-serif;
    position: relative;
    margin-top: -185px;
    font-size: 25px;
}

.sSkil0Cir_img{
    transition: transform 0.3s ease-out;
}

.sSkil0Cir_img:hover {
    transform: rotate(720deg);
    width: 110%;
    height: auto;
}

/*以下スキル枠部分*/
.sSkilInline{
    display: flex;
    width: 80%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

/*スキル文字  */
/*元のCSS*/
.sSkil1_0{
    opacity: 0;
    background-image: url(../img/catsc.PNG);
    background-repeat: no-repeat;
    background-position: 104% 130px;
    background-size: 220px;
    /*背景↑*/
    width: 19%;
    min-width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px 30px 30px;
    background-color: #151f33;
    box-shadow:  5px 5px 9px #090d15,
                -5px -5px 9px #213151;
    border-radius: 15px;
}

/*JavaScriptにより差し替えるCSS*/
.sSkil1_0a{
    background-image: url(../img/catsc.PNG);
    background-repeat: no-repeat;
    background-position: 104% 130px;
    background-size: 220px;
    /*背景↑*/
    width: 19%;
    min-width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px 30px 30px;
    background-color: #151f33;
    box-shadow:  5px 5px 9px #090d15,
                -5px -5px 9px #213151;
    border-radius: 15px;
    animation: aSkilbox_f 0.5s ease 0.5s normal backwards;
}
.sSkil1_0a:hover {
    transform: translateY(-5px);
    box-shadow:  15px 15px 9px #090d15,
                -1px -1px 2px #213151;
    background-color: #5a6613;
}

.sSkil1_1{
    opacity: 0;
    background-image: url(../img/catds.PNG);
    background-repeat: no-repeat;
    background-position: 100% 130px;
    background-size: 220px;
    /*背景↑*/
    width: 19%;
    min-width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px 30px 30px;
    background-color: #151f33;
    box-shadow:  5px 5px 9px #090d15,
                -5px -5px 9px #213151;
    border-radius: 15px;
}

/*JavaScriptにより差し替えるCSS*/
.sSkil1_1a{
    background-image: url(../img/catds.PNG);
    background-repeat: no-repeat;
    background-position: 100% 130px;
    background-size: 220px;
    /*背景↑*/
    width: 19%;
    min-width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px 30px 30px;
    background-color: #151f33;
    box-shadow:  5px 5px 9px #090d15,
                -5px -5px 9px #213151;
    border-radius: 15px;
    animation: aSkilbox_f 0.5s ease 0.8s normal backwards;
}

.sSkil1_1a:hover{
    transform: translateY(-5px);
    box-shadow:  15px 15px 9px #090d15,
                -1px -1px 2px #213151;
    background-color: #5a6613;
}

.sSkil1_2{
    opacity: 0;
    background-image: url(../img/catl.PNG);
    background-repeat: no-repeat;
    background-position: 100% 130px;
    background-size: 220px;
    /*背景↑*/
    width: 19%;
    min-width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px 30px 30px;
    background-color: #151f33;
    box-shadow:  5px 5px 9px #090d15,
                -5px -5px 9px #213151;
    border-radius: 15px;
}

/*JavaScriptにより差し替えるCSS*/
.sSkil1_2a{
    background-image: url(../img/catl.PNG);
    background-repeat: no-repeat;
    background-position: 100% 130px;
    background-size: 220px;
    /*背景↑*/
    width: 19%;
    min-width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
    padding: 20px 30px 30px 30px;
    background-color: #151f33;
    box-shadow:  5px 5px 9px #090d15,
                -5px -5px 9px #213151;
    border-radius: 15px;
    animation: aSkilbox_f 0.5s ease 1.1s normal backwards;
}

.sSkil1_2a:hover{
    transform: translateY(-5px);
    box-shadow:  15px 15px 9px #090d15,
                -1px -1px 2px #213151;
    background-color: #5a6613;
}


@keyframes aSkilbox_f{
    0% {
        transform: translateY(20px);
        transform:rotate(-45deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Skil1_item{
    color: #d2e8ff;
    margin: 5px 0 5px 0;
    border-bottom: 3px solid;
    padding-bottom: 14px;
}

.pSkilbox_0{
    height: auto;
    margin: 30px 300px 10px 0;
    font-size: 30px;
}

.pSkilbox_1{
    height: auto;
    margin: 20px 0 10px 0;
    font-size: 30px;
}

  /*リンク*/
.aSkilbox a{
    color: #9db322;
    border-bottom: 4px;
}

/*実績スタイル-------------------------*/
.sActual{
    /*display: none;*/
    position: absolute;
    width: 100%;
    top: 4500px;
    z-index: 500;
}

.sActual h1{
    margin-bottom: 80px;
}

.sActual h1:before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    display: block;
    background: #d2e8ff;
    transform: rotate(45deg);
    z-index: -10;
    left: 0;
    right: 0;
    top: -3px;
    margin: auto;
    animation: rotate-anime 20s linear infinite;
}

.actualTb{
    table-layout: fixed;
	width: 100%;
}

.actualTbG{
    display:flex;
    justify-content: center;
}
    

.actualTbItem{
    width: 500px;
    margin: 40px;
    padding: 20px;
    background-color: #23A2B2;
    border-radius: 15px;
}

.actualTbItem:hover{
}

.actualTbItem p,h3{
    padding: 10px 10px 0 10px;
    color: #d2e8ff;
}

.actualTbItem h3{
    padding-bottom: 7px;
    border-bottom:solid 3px #d2e8ff;
}
.sActual_img{
    width: 500px;
    height: 260px;
    object-fit: cover;
    box-shadow:  5px 5px 3px #145c66;
}    

/*最後にスタイル-------------------------*/
.slast{
    /*display: none;*/
    top: 6400px;
    height: 600px;
    width: 100%;
    padding-bottom: 300px;
    position: absolute;
    z-index: 500;
}
.slast h1{
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    color: #151f33;
	text-align:center;
	line-height:0.95em;
	text-shadow: 0 0 0.2em #d2e8ff;
}

.slast h1:before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    display: block;
    background: #d2e8ff;
    transform: rotate(45deg);
    z-index: -10;
    left: 0;
    right: 0;
    top: -3px;
    margin: auto;
    animation: rotate-anime 20s linear infinite;
}

/*.slastCat{
    margin-top: 40px;
    padding-top: 155px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}*/

/*最後に画像  */
.catmaru_img{
    position: relative;
    width: 600px;
    height: 600px;
    left: 60vw;
    margin-top: -125px;
}

/*最後に文字  */
.slast0{
    background-image: url(../img/catmaru.PNG);
    background-repeat: no-repeat;
    background-position: 65% 0;
    background-size: 500px;
    margin-top: 150px;
    width: 100%;
    height: 550px;
    line-height: 1.5em;
    padding-left: 15%;
    color: #151f33;
}

.slast1{
    width: 100%;
    height: auto;
    line-height: 1.5em;
    padding-left: 20%;
}
/*星*/




.sp_link{display: none;}
.sActual_img_sp{display: none;}
.pSkilbox_sp{display: none;}


/* メディアごとのcss    -----------------------------------------------------------------*/
/*タブレット*/
@media screen and (max-width:1024px) {
    .item_link,.item_linka,.nav_content,.cTitle,.cHoby,.sSkil,.sActual,.slast{
        width: 1024px;
        height: auto;
    }
    
}

/*スマートフォン用*/
@media screen and (max-width:546px) {
 /*改行*/
    .pc-br{display: none;}
    .sp-br{display: block;}

    .sp_link{display: block;height: 60px;}

    .pSkilbox{display: none;}
    
    
 * {
        margin: 0;
        padding: 0;
}

    body{
        height: auto;
        width: 100%;
        line-height: 1.5;
        background-color: #0d1117;
        color: #151f33;
    }
    h1{
        font-size: 55px;
    }
    h3{
        font-size: 23px;
    }

    p{
        font-size: 20px;
    }

    /*タイトル：スマートフォン用-------------------------*/
    .sphelper_cat{
        display: block;
        position: absolute;
        z-index: 500;
    }

    .helper_cat{
        display: block;
        width: 100vw;
        position: relative;
        object-fit: cover;
    }

    .cTitle{
        display:none;/*非表示*/
        position: absolute;
    }

    /*固定リンク：スマートフォン用-------------------------*/
    .item_link {
        display:none;/*非表示*/
        z-index: 10000;
        position: fixed;
        height: 25px;
        top: 520px;
        padding-top: 30px;
        padding-left: 0px;
        background-color: #000;
    }
    .item_link h1 {
        font-size: 17px;
    }
    .li_link {
        margin-top: -7px;
        margin-left: 7px;
        margin-right: 35px;
    }
    .img_cat {
        position: absolute;
        float: left;
        left: -90px;
        width: 500px;
        height: 540px;
        background-image: url(../img/cat2.PNG);
        animation: img_cat 10s ease 1s normal backwards;
        z-index: 500;
        bottom: -9px;
        transform: scale(0.4);
    }

    .nami {
        width: 100%;
        position: absolute;
        bottom: -50px;
        z-index: 500;
        /* margin-right: 13px; */
        margin-left: -80px;
    }

    /*プロフィール：スマートフォン用-------------------------*/
    .cHoby{
       /* display:none; */
        position: absolute;
        top: 800px;
        height: 1800px;
        width: 100%;
    }

    .prof_img{
        height: 200px;
        width: 200px;
    }
    
    .cHobyBox{
        display: block;
        height: 800px;
        width: 100%;
        justify-content: center;
    }

    .aHoby_img {
        width: 200px;
        height: 200px;
        margin: 55px 50px 0 50px;
        animation: aHoby_img 0.5s ease 1s normal backwards;
    }

    .big_cat{
      width: 250px;
      height: 250px;
      margin-top: 70px;
    }

   .cHobyCat {
      margin: 0 16px 0 auto;
      display: block;
      width: 100%;
    }

    /*スキル：スマートフォン用-------------------------*/
    .sSkil{
    /* display:none; */
    top: 2446px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 500;
    margin-left: -28px;
    }

  /*スキル丸非表示*/
    .sSkil0Box{
    display:none;
    }

    .sSkilInline {
        width: 90%;
        padding-left: 10%;
    }
    
    .sSkil1 {
        display: block;
        height: auto;
        width: 100%;
       /* margin-bottom: -90px; */
        margin-bottom: 10px;
        margin-left: 0px;
    }
    
    .item {
        color: #d2e8ff;
        margin: 0px 0 5px 0;
        border-bottom: 3px solid;
        padding-bottom: 7px;
        padding-top: 25px;
        font-size: 20px;
    }

    .SkilCat_sp{
        position: absolute;
        display: inline-flex;
        left: 25%;
        width: 220px;
        height: 220px;
        opacity: 0.1;
    }
    
    
    .catsc{
        bottom: 600px;
    }

    .catds{
        bottom: 240px;
    }

    .catl{
        bottom: -30px;
    }

    .pSkilbox_sp{
        display: block;
        font-size: 15px;
        color: #d2e8ff;
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
    }

    /*実績：スマートフォン用-------------------------*/
    .sActual{
       /* display:none; */
        top: 3486px;
    }

    .sActual_img {
        display: none;
    }

    .sActual_img_sp{
        display: block;
        object-fit: cover;
        box-sizing:border-box;
        width: 100%;
    }

    .sActual1{
       display: block;
       margin-bottom: 60px;
    }

    .ActualMsgBox p{
        margin-left: 0px;
        width: 100%;
        font-size: 15px;
    }

    .sActual h3{
        font-size: 23px;
    }

    .sActualCat{
        height: auto;
        width: 100%;
    }

    .ActualMsgBox{
        margin-top: 5px;
    }

    /*最後に：スマートフォン用-------------------------*/
    .slast{
       /* display:none; */
       top: 5362px;
       height: auto;
    }

    .slast1{
        font-size: 20px;
        width: 100%;
        height: auto;
        font-size: 15px;
        margin: 10% 0 0 0;
    }

    .slast nav{
        margin-left: 0px;
    }

    .catmaru_img{
        position: absolute;
        left: 0%;
        opacity: 0.1;
        width: 100%;
        height: 400px;
        margin-top: -90px;
    }


/* ハンバーガーメニュー：スマートフォン用------------------------- */

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: inline-block;
    top: 25px;
    height: 60px;
    left:90%;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 100000;
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #d2e8ff;
    transition: 0.5s;
    position: absolute;
    
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: transparent;
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 10px;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: -10px;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 1000;
    background: #293752;
    transition: .5s;
  }

  .nav_item1:active{
    background: #121824;
  }

  .nav_item2:active{
    background: #121824;
  }

  .nav_item3:active{
    background: #121824;
  }

  .nav_item4:active{
    background: #121824;
  }

  .nav_item5:active{
    background: #121824;
  }

  .nav_list li{
     border-bottom: 3px solid #d2e8ff;
  }

  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
    font-size: 25px;
  }

  .nav_list a{
    color: #9db322;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }
    }